@tailwind base;
@tailwind components;
@tailwind utilities;

.modal {
  min-width: 90rem;
  min-height: 20rem;
  max-height: 50rem;
  overflow-y: auto;
}

input {
  padding: 0.1rem 0.2rem;
  margin-bottom: 0.3rem;
}

.trainingLabel {
  margin-right: 0.3rem;
}

.trainingInput {
  margin-right: 1rem;
}
